openapi: 3.2.0
info:
  title: PixieBrix Memberships API
  version: 1.0.0
  description: PixieBrix admin and package registry API
  contact:
    name: PixieBrix Support
    email: support@pixiebrix.com
servers:
- url: https://app.pixiebrix.com
tags:
- name: memberships
paths:
  /api/memberships/{id}/:
    get:
      operationId: retrieveOrganizationMembership
      description: Detail view for an organization's memberships.
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; version=1.0:
              schema:
                $ref: '#/components/schemas/Membership'
            application/vnd.pixiebrix.api+json; version=1.0:
              schema:
                $ref: '#/components/schemas/Membership'
          description: ''
      tags:
      - memberships
    put:
      operationId: updateOrganizationMembership
      description: Detail view for an organization's memberships.
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Membership'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Membership'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Membership'
      responses:
        '200':
          content:
            application/json; version=1.0:
              schema:
                $ref: '#/components/schemas/Membership'
            application/vnd.pixiebrix.api+json; version=1.0:
              schema:
                $ref: '#/components/schemas/Membership'
          description: ''
      tags:
      - memberships
    patch:
      operationId: partialUpdateOrganizationMembership
      description: Detail view for an organization's memberships.
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Membership'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Membership'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Membership'
      responses:
        '200':
          content:
            application/json; version=1.0:
              schema:
                $ref: '#/components/schemas/Membership'
            application/vnd.pixiebrix.api+json; version=1.0:
              schema:
                $ref: '#/components/schemas/Membership'
          description: ''
      tags:
      - memberships
    delete:
      operationId: destroyOrganizationMembership
      description: Detail view for an organization's memberships.
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '204':
          description: ''
      tags:
      - memberships
components:
  schemas:
    Membership:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        user:
          type: object
          properties:
            id:
              type: string
              format: uuid
              readOnly: true
            name:
              type: string
              readOnly: true
            email:
              type: string
              format: email
              maxLength: 254
            service_account:
              type: boolean
              readOnly: true
            deployment_key_account:
              type: boolean
              readOnly: true
            date_joined:
              type: string
              format: date-time
          readOnly: true
        role:
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          type: integer
          minimum: 0
          maximum: 32767
        groups:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              name:
                type: string
                maxLength: 256
            required:
            - id
            - name
          readOnly: true
        last_active_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        last_login_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
      required:
      - role
