openapi: 3.2.0
info:
  title: PixieBrix Services API
  version: 1.0.0
  description: PixieBrix admin and package registry API
  contact:
    name: PixieBrix Support
    email: support@pixiebrix.com
servers:
- url: https://app.pixiebrix.com
tags:
- name: services
paths:
  /api/services/shared/:
    get:
      operationId: listSanitizedAuths
      description: Return the integration configurations available to the caller, with sensitive credential values sanitized.
      parameters:
      - name: page
        required: false
        in: query
        description: A page number within the paginated result set.
        schema:
          type: integer
      - name: page_size
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      responses:
        '200':
          content:
            application/json; version=2.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SanitizedAuth'
            application/vnd.pixiebrix.api+json; version=2.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SanitizedAuth'
          description: ''
          headers:
            Link:
              schema:
                type: string
              example: '&lt;https://app.pixiebrix.com/services/shared/&gt;; rel=&quot;first&quot;, &lt;https://app.pixiebrix.com/services/shared/?page=3&gt;; rel=&quot;prev&quot;, &lt;https://app.pixiebrix.com/services/shared/?page=5&gt;; rel=&quot;next&quot;, &lt;https://app.pixiebrix.com/services/shared/?page=11&gt;; rel=&quot;last&quot;'
              description: See https://datatracker.ietf.org/doc/html/rfc8288 for more information.
      tags:
      - services
    post:
      operationId: createEditableAuth
      description: Create a new integration configuration owned by the caller or by an organization they administer.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditableAuth'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EditableAuth'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EditableAuth'
      responses:
        '201':
          content:
            application/json; version=2.0:
              schema:
                $ref: '#/components/schemas/EditableAuth'
            application/vnd.pixiebrix.api+json; version=2.0:
              schema:
                $ref: '#/components/schemas/EditableAuth'
          description: ''
      tags:
      - services
  /api/services/shared/{id}/:
    get:
      operationId: retrieveEditableAuth
      description: Return a single integration configuration with its full credential configuration when the caller has edit access.
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; version=2.0:
              schema:
                $ref: '#/components/schemas/EditableAuth'
            application/vnd.pixiebrix.api+json; version=2.0:
              schema:
                $ref: '#/components/schemas/EditableAuth'
          description: ''
      tags:
      - services
    put:
      operationId: updateEditableAuth
      description: Replace an existing integration configuration with the provided values.
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditableAuth'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EditableAuth'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EditableAuth'
      responses:
        '200':
          content:
            application/json; version=2.0:
              schema:
                $ref: '#/components/schemas/EditableAuth'
            application/vnd.pixiebrix.api+json; version=2.0:
              schema:
                $ref: '#/components/schemas/EditableAuth'
          description: ''
      tags:
      - services
    patch:
      operationId: partialUpdateEditableAuth
      description: Update selected fields of an existing integration configuration.
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditableAuth'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EditableAuth'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EditableAuth'
      responses:
        '200':
          content:
            application/json; version=2.0:
              schema:
                $ref: '#/components/schemas/EditableAuth'
            application/vnd.pixiebrix.api+json; version=2.0:
              schema:
                $ref: '#/components/schemas/EditableAuth'
          description: ''
      tags:
      - services
    delete:
      operationId: destroyEditableAuth
      description: Delete an integration configuration.
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '204':
          description: ''
      tags:
      - services
  /api/services/link/:
    post:
      operationId: createCreateLinkToken
      description: 'Create a new link token for connecting external services.


        Creates a Pipedream connect token that can be used to establish

        connections with external services on behalf of the authenticated user.'
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLinkToken'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateLinkToken'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateLinkToken'
      responses:
        '201':
          content:
            application/json; version=1.0:
              schema:
                $ref: '#/components/schemas/LinkTokenResponse'
            application/vnd.pixiebrix.api+json; version=1.0:
              schema:
                $ref: '#/components/schemas/LinkTokenResponse'
          description: ''
      tags:
      - services
components:
  schemas:
    LinkTokenResponse:
      type: object
      properties:
        connect_link_url:
          type: string
          format: uri
          pattern: "^(?:[a-z0-9.+-]*)://(?:[^\\s:@/]+(?::[^\\s:@/]*)?@)?(?:(?:0|25[0-5]|2[0-4][0-9]|1[0-9]?[0-9]?|[1-9][0-9]?)(?:\\.(?:0|25[0-5]|2[0-4][0-9]|1[0-9]?[0-9]?|[1-9][0-9]?)){3}|\\[[0-9a-f:.]+\\]|([a-z¡-\uFFFF0-9](?:[a-z¡-\uFFFF0-9-]{0,61}[a-z¡-\uFFFF0-9])?(?:\\.(?!-)[a-z¡-\uFFFF0-9-]{1,63}(?<!-))*\\.(?!-)(?:[a-z¡-\uFFFF-]{2,63}|xn--[a-z0-9]{1,59})(?<!-)\\.?|localhost))(?::[0-9]{1,5})?(?:[/?#][^\\s]*)?\\z"
        expires_at:
          type: string
          format: date-time
        token:
          type: string
      required:
      - connect_link_url
      - expires_at
      - token
    EditableAuth:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        label:
          type:
          - string
          - 'null'
          maxLength: 128
        organization:
          type:
          - string
          - 'null'
        config:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        service:
          type: string
        updated_at:
          type: string
          format: date-time
          readOnly: true
        pushdown:
          type: boolean
          description: True to push down configuration secrets to the client
        editable:
          type: boolean
          readOnly: true
      required:
      - config
      - service
    SanitizedAuth:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        label:
          type:
          - string
          - 'null'
          maxLength: 128
        organization:
          type: object
          properties:
            id:
              type: string
              format: uuid
              readOnly: true
            name:
              type: string
              maxLength: 128
          required:
          - name
        config:
          type: object
          additionalProperties: true
          readOnly: true
        service:
          type: object
          properties:
            id:
              type: string
              format: uuid
              readOnly: true
              description: Surrogate primary key
            name:
              type: string
              description: Unique package identifier, including the scope and collection
              pattern: ^((?<scope>@[a-z0-9-~][a-z0-9-._~]*)/)?((?<collection>[a-z0-9-~][a-z0-9-._~]*)/)?(?<name>[a-z0-9-~][a-z0-9-._~]*)$
              maxLength: 214
            verbose_name:
              type:
              - string
              - 'null'
              description: Human-readable name
              maxLength: 128
          required:
          - name
        pushdown:
          type: boolean
          description: True to push down configuration secrets to the client
        editable:
          type: boolean
          readOnly: true
        user:
          type:
          - string
          - 'null'
          format: uuid
      required:
      - organization
      - service
    CreateLinkToken:
      type: object
      properties:
        organization_id:
          type:
          - string
          - 'null'
          format: uuid
